@model RistournePhase2App1.Models.Supporteur

@{
    ViewBag.Titre = "Entrez votre courriel : ";
}

<h2>Vérification de l'identité du supporteur</h2>

<h3>@ViewBag.Titre</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Réponse</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Courriel)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Courriel)
            @Html.ValidationMessageFor(model => model.Courriel)
        </div>

        <p>
            <input type="submit" value="Vérifiez mon identité" /> 
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Retourner à l'accueil", "Index", "Accueil")
</div>


@section Scripts {

}
